img {
  max-width: 100%;
}
header {
  background-color: lavenderblush;
  height: 60px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.icons {
}
.icons img {
  width: 12px;
  height: 12px;
  display: inline;
}
.home {
  width: 40px;
  height: 20px;
  float: left;
  display: inline;
}
.home img {
  width: 30px;
  height: 30px;
  margin: 15px;
}
.meny {
  float: right;
  list-style: none;
  margin: 0;
}
.meny li {
  display: inline-block;
  height: 30px;
  margin: 15px;
}
.meny li a {
  line-height: 30px;
}

main {
  background-color: hsl(81, 49%, 93%);
}

.hero {
  background-color: tomato;
}
.volume {
  background-color: white;
}
.lashlift {
  background-color: rgb(255, 249, 239);
}
.makeup {
  background-color: rgb(251, 251, 242);
}
.about {
  background-color: lightgray;
}

footer {
  background-color: lightcyan;
}
.sectionimage {
  width: 33%;
  align-items: center;
}
.volume .sectionimage {
  float: left;
}
section p {
  max-width: 45ch;
}
section {
  padding: 100px;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  border: black solid 1px;
}

.sectioncontent {
  float: right;
  margin-left: 40px;
  margin-right: 60px;
  margin-top: 90px;
  font-size: 20px;
  text-align: center;
}
.lashlift .sectionimage {
  float: right;
}
.sectioncontent2 {
  float: left;
  margin-top: 90px;
  margin-left: 40px;
  font-size: 20px;
  text-align: center;
}
.makeup .sectionimage {
  float: left;
}
.sectioncontent3 {
  float: right;
  margin: 60 60 90 40;
  text-align: center;
  /* font-size: 20px; */
}
.sectionimage .cosmetic {
  margin-top: 20px;
}
